#source,#target-words,#target-sentence,#verdict,#answer{
    height: 15px;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 5px 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0
}

#changeLang, #hide-show-explanation{
    float:right;
    cursor:pointer;
    color:blue;
    border:thin solid blue;
    margin: 2px;
    padding: 2px;
}

.word{
    padding: 3px;
    margin: 0px 5px;
    border:thin solid black;
    border-radius: 5px;
    cursor:pointer;
}

.good { color:green}
.del { color:red}
.insert {color: blue;}
