#source,#target-words,#target-sentence,#verdict,#answer{
    min-height: 15px;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 5px 0;
    line-height: 2;
    word-wrap: break-word;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0
}

ul button {  /* small buttons that appear in the instructions */
    font-size:12px;
    border-radius: 10px;
    padding: 5px;
    margin:0
}

#changeLang, #hide-show-explanation{
    float:right;
    cursor:pointer;
    color:blue;
    border:thin solid blue;
    margin: 2px;
    padding: 2px;
}

fieldset fieldset {
    display: inline-block;
}

.word{
    padding: 3px;
    margin: 5px;
    border:thin solid black;
    color: black;
    border-radius: 5px;
    cursor:pointer;
}

.bad { 
    color:red;
    border-color:red;
}

.used {
    color:lightgrey;
    border-color: lightgrey;
    cursor:default;
}

#score{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin:auto;
    width:300px;}

.value {
    width: 15px;
    font-weight: bold;
}

#percent{
    border: thin solid black;
    margin-left: 15px;
    padding: 2px 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
  }
  
