body{font: normal normal normal 1em Arial, sans-serif;}
.checked {color: blue;}
.inv-checked {
    color:blue;
    text-decoration: overline;
}
.fieldName {
    cursor: pointer; 
    margin-left:10px;
}
#message {font-weight: bold;}
#id-text {
   border-collapse:collapse;
}

#id-text th, #id-text td {
   border: 1px solid #999
}

#id-text th {
    width:10%;
}

#input{
    line-height:12px;
}

.right {
    float:right;
    padding:2px;
}

.selected-row {
    background-color:#EEE;
}
.selected-word {
    font-weight:bold;
}

div#container {
    overflow: auto; height: 300px;
    margin:10px 0;
}

table {
    border-collapse:collapse;
}
table#tokens thead th{
    position: sticky; top: 0; z-index: 1;
}

table#tokens td, table#tokens th {
    border: 1px solid #999;
    padding:0px 2px;
    overflow:hidden;
    text-overflow:ellipsis;
}

table#tokens th {
    background-color: white;
}

table#tokens {
    table-layout:fixed;
    overflow:clip;
    width:100%;
}
table#tokens:hover {
    cursor: pointer;
}

table#tokens td {
    text-overflow:ellipsis;
    white-space:nowrap;
}

/* classes for tokens */
.ID     {width:5%; }
.FORM   {width:10%;}
.LEMMA  {width:10%;}
.UPOS   {width:5%; }
.XPOS   {width:5%; }
.FEATS  {width:25%;}
.HEAD   {width:5%;}
.DEPREL {width:7%;}
.DEPS   {width:8%;}
.MISC   {width:15%;}


td.ID    {text-align:right;}
td.FORM  {text-align:left; }
td.LEMMA {text-align:left; }
td.UPOS  {text-align:left; }
td.XPOS  {text-align:left; }
td.FEATS {text-align:left; }
td.HEAD  {text-align:right;}
td.DEPREL{text-align:left; }
td.DEPS  {text-align:left; }
td.MISC  {text-align:left; }

/* sorting */

.croissant, .decroissant {
    background-position:center right;
    background-repeat:no-repeat;
}

.croissant {
    background-image:url(croissant.svg);    
}

.decroissant {
    background-image:url(decroissant.svg);    
}

/*  drag and drop of file */
body.dragging::before {
  content: "Drop the file anywhere on this page";
  position: fixed;
  left: 0; width: 100%;
  top: 0; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: rgba(255, 255, 0, .3);
  pointer-events: none;
}
