#json,#jsreal {
    font-family: monospace;
    font-size:11pt; 
    white-space:pre;
    overflow:auto;
}

/* https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=typeahead-with-local-dataset  */
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 16px; /* Set input font size */
    height: 40px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 146px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}

.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 172px;
}
.tt-suggestion {
	font-size: 16px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
