textarea {font: normal normal normal 1.1em Courier, sans-serif;}
#struct,#control{float:left}
#control select {width:250px;}

#sortie {margin:10px 0;}
#langue, #generer {vertical-align:top;}

select,input[type=button],#infos {margin:5px 10px;}

table {
    clear:both;
    border-collapse:collapse;
    margin:10px 5px;
    border: thin solid black;
}
td:not(:last-child),th:not(:last-child) {
    width:60px;
    border: thin solid black;
    padding:3px;
}

td:last-child,th:last-child {
    border:none;
}

/* for scrolling the table rows, taken from
 https://stackoverflow.com/questions/17067294/html-table-with-100-width-with-vertical-scroll-inside-tbody
*/
thead, tbody { display: block; }
tbody {
    height: 400px;
    overflow-y: scroll;  /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}


